<nav class="BodyNav">
    <div class="NavFirstHalf">
        <div class="Search">
            <a routerLink="/home">Home</a>
        </div>
        <div class="Credit">
            <a routerLink="/createPost">Crear publicación</a>
        </div>
        <div class="Credit">
            <a routerLink="/challenge">Retos</a>
        </div>
    </div>
    <div class="NavSecondHalf">
        <div class="Log-in" id="Log-in">
            <a routerLink="/login">Iniciar sesión</a>
        </div>
        <div class="Log-in" id="User">
            <a routerLink="/">{{name}}</a>
            <i (click)="CloseSession()" class="material-icons" >logout</i>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
