<div class="body">
    <div class="info">
        <div class="persons-you-follow">
            <h2>Personas que sigues</h2>
            <ul>
                <li><a>Pepito perez</a></li>
                <li><a>Luis Suarez</a></li>
                <li><a>Nicola</a></li>
            </ul>
        </div>
        <div class="trends">
            <h2>Tendencias</h2>
            <ul>
                <li><a>Futbol</a></li>
                <li><a>Basketball</a></li>
                <li><a>Tennis</a></li>
                <li><a>Voleyball</a></li>
            </ul>         
        </div>
    </div>
    <div class="feed">
        <div class="BoxPub">
            <div class="User">
                <img  class="photo-user" src="../../assets/usuario.png" alt="">
                <h3>Sergio</h3>
            </div>
            <div class="main-pub">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore repellat quibusdam rem cum quis saepe quam animi! Esse quas provident exercitationem sed optio beatae unde molestiae voluptatem magni placeat.</p>
                <img src="" alt="">
            </div>
            <div class="botons">
                <img  class="Like" src="../../assets/me-gusta.png" alt="">    
            </div>
        </div>
    </div>
</div>