<div class="body">
    <div class="info">
        <div class="persons-you-follow">
            <h2>Personas que sigues</h2>
            <p>Pepito perez</p>
            <p>Luis Suarez</p>
            <p>Nicola</p>
        </div>
        <div class="trends">
            <h2>Tendencias</h2>
            <p>-Futbol</p>
            <p>-Basketball</p>
            <p>-Tennis</p>
            <p>-Voleyball</p>
        </div>
    </div>
    <div class="feed">
        <div class="BoxPub">
            <div class="User">
                <img  class="photo-user" src="" alt="">
                <h3>Sergio</h3>
            </div>
            <div class="main-pub">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore repellat quibusdam rem cum quis saepe quam animi! Esse quas provident exercitationem sed optio beatae unde molestiae voluptatem magni placeat.</p>
                <img src="" alt="">
            </div>
            <div class="botons">
                <img  class="Like" src="" alt="">
            </div>
            <div class="Comments">
                <div class="option-comment">
                    <p>Comentar</p>
                    <input type="text" id="comment">
                </div>
                <p>Sergio segundo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quod iste quasi. Quaerat dolore ratione eos excepturi omnis, earum accusamus libero expedita enim, tempora, maiores tenetur molestias minus rerum molestiae?</p>
            </div>
        </div>
    </div>
    
</div>