<div class="body">
    <div class="info">
        <div class="persons-you-follow">
            <h2>Personas que sigues</h2>
            <ul>
                <li><a>Pepito perez</a></li>
                <li><a>Luis Suarez</a></li>
                <li><a>Nicola</a></li>
            </ul>
        </div>
        <div class="trends">
            <h2>Tendencias</h2>
            <ul>
                <li><a>Futbol</a></li>
                <li><a>Basketball</a></li>
                <li><a>Tennis</a></li>
                <li><a>Voleyball</a></li>
            </ul>         
        </div>
    </div>
    <div routerLink="/post/{{Card._id}}" class="feed" *ngFor="let Card of Cards">
        <div class="BoxPub">
            <div class="User">
                <img  class="photo-user" src="../../assets/usuario.png" alt="">
                <h3>{{Card.username}}</h3>

            </div>
            <div class="main-pub"> 
                <p>{{Card.data[1].data}}</p>
                <img src="http://localhost:3000/public/{{Card.data[0].data}}" alt="">
            </div>
            <div class="botons">
                <img  class="Like" src="../../assets/me-gusta.png" alt="">    
            </div>
        </div>
    </div>
</div>