


<div class="Body">
    <section class="Body-PerfilUser">
        <div>

        <div class="PerfilUser-CommonData">

            <img class="imgPerfil" src="../../assets/Perfilphoto.svg" alt="">

        </div>


        <div class="PerfilUser-totalinfo">
            <div class="content">
               

               <div>
                <h1 class="title">Brandon Martinez</h1>
            
                
                 <h1 class="title">Descripcion</h1>
                
                    <input type="text">
                </div>
         
            </div>
            <h1 class="title">Logros</h1>

            <input type="text">


            <div class="content_rutina">

                <h1 class="title">Mis rutinas </h1>

                <input type="text">
            </div>

            <div class="boton">
                <button>Actualizar</button>
            </div>
        </div>
        
    </div>

        <div class="contain">

            <div class="BoxPub">

                <div class="User">
                    <img class="photo-user" src="../../assets/usuario.png" alt="">
                    <h3>Sergio</h3>
                </div>
                <div class="main-pub">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fugit fugiat, hic deleniti eum laborum debitis error non excepturi minus ipsum quia? Autem ad reprehenderit magnam sint? Quo, aliquam cum?> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, eius veritatis molestiae voluptate consectetur asperiores placeat blanditiis delectus saepe cumque ipsum voluptatem molestias autem, nulla laborum nesciunt eaque? Iste, labore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo tempore animi odit omnis, placeat sit ipsum repellat magni beatae quis aliquid, sapiente laboriosam officia explicabo impedit porro, quasi molestiae nesciunt.</p>
                    <img src="" alt="">
                </div>
                <div class="botons">
                    <img class="Like" src="../../assets/me-gusta.png" alt="">
                </div>


            </div>
        </div>

    </section>

</div>