


<div class="container" id="container" >
	<div class="form-container sign-up-container">
		
		<div class="formulario">
			<p class="form__title"><b>Crea tu cuenta</b></p>

			<hr class="divisor">
			
			<form  class="formulario mt-4" [formGroup]="formRegistro" (submit)="sendR()" >
            <input type="text" placeholder="Nombre" id="nombre" formControlName="name"/>
				<input type="email" placeholder="Email"id="email1" formControlName="email"/>
            <input type="password" placeholder="Contraseña"id="password1" formControlName="password"/>
				<button  [disabled]="!formRegistro.valid">INICIAR SESIÓN</button>
			</form>
</div>
<!-- 
		<div class="formulario">
			
			<form [formGroup]="formRegistro" (submit)="Registro()" >
				<p class="form__title"><b>Sign up</b></p>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia nisi dicta omnis enim placeat ullam! Quis excepturi ut explicabo dolorum tempora, accusantium necessitatibus temporibus dolor dolores a! Pariatur, magnam nihil.</p>
				<input type="email" placeholder="Email"id="email2" formControlName="Remail"/>
				<input type="password" placeholder="Password" id="password2" formControlName="Rpassword"/>
				<button [disabled]="!formExample.valid" >Sign Up</button>
			</form>

        </div>
-->
    </div>



	<div class="form-container sign-in-container">

			<form  class="formulario"  [formGroup]="formLogin" (submit)="sendL()">
			
				<p class="form__title"><b>Login</b></p>
				<p>Bienvenido de nuevo! Estamos emocionados de verte de nuevo en nuestra comunidad deportiva y fitness. Inicia sesión con tu cuenta para acceder a un mundo de inspiración.</p>
	
				<hr>
				<input type="email" placeholder="Email"id="email1" formControlName="email"/>
				<input type="password" placeholder="Password" id="password1" formControlName="password"/>
				<button [disabled]="!formLogin.valid">Sign In</button>

			</form>
    </div>
    

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<p class="form__title">Resgistrate</p>
				<p >¡Bienvenido! Para disfrutar de todas las funciones de nuestra comunidad deportiva y fitness, regístrate ahora. Haz clic en el botón 'Registrarse' a continuación para unirte a nosotros y comenzar tu viaje hacia un estilo de vida más saludable y activo.</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<p class="form__title">Resgistrate</p>
				<p>¡Bienvenido! Para disfrutar de todas las funciones de nuestra comunidad deportiva y fitness, regístrate ahora. Haz clic en el botón 'Registrarse' a continuación para unirte a nosotros y comenzar tu viaje hacia un estilo de vida más saludable y activo.</p>
				<button class="ghost"id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>