<div class="Body">
    <section class="Body-PerfilUser">
        <div class="PerfilUser-CommonData">

            <img class="imgPerfil" src="../../assets/Perfilphoto.svg" alt="">

        </div>
        <div class="PerfilUser-Nav">
            <p class="Per">Descripcion</p>
            <p class="Per">Logros</p>
            <p class="Per">Rutinas</p>
        </div>

        <div class="PerfilUser-totalinfo">
            <div class="content">

                <h1>Brandon Martinez</h1>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est neque dolorem tempore quisquam nostrum
                    enim, excepturi commodi quasi voluptates eius, ipsum accusamus quo, adipisci laborum doloribus
                    dolor. Minus, dolorem iure?</p>
            </div>

        </div>

        <div class="PerfilUser-totalinfo">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam unde nisi eveniet, incidunt
                    earum fuga quam, consequuntur veniam voluptate quisquam laudantium et cumque? Numquam, consequuntur
                    tempore. Sequi, nam illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rerum,
                    eveniet dicta obcaecati eaque aliquid voluptatum quis sunt totam ratione sed accusamus iste ipsum
                    perspiciatis, consequatur aspernatur odio harum? Ullam!</p>
            </div>
        </div>

        <div class="PerfilUser-totalinfo">
            <div class="content_rutina">

                <h1 class="rutinas">Mis rutinas </h1>

                <ul >
                    <h2>Mi entrenamiento de fuerza</h2>

                    <li>Día 1: Ejercicios para piernas y glúteos</li>
                    <li>Día 2: Ejercicios para espalda y bíceps</li>
                    <li>Día 3: Descanso</li>
                    <li>Día 4: Ejercicios para pecho y tríceps</li>
                    <li>Día 5: Ejercicios para hombros y abdominales</li>
                    <li>Día 6: Descanso</li>
                  
                </ul>

                <ul >
                    <h2>Mi entrenamiento de cardio vascular </h2>

                    <li>Día 1: Carrera de 30 minutos</li>
                    <li>Día 2: Ciclismo de 45 minutos</li>
                    <li>Día 3: Descanso</li>
                    <li>Día 4: Natación de 30 minutos</li>
                    <li>Día 5: Caminata rápida de 45 minutos</li>
                    <li>Día 6: Descanso</li>
                   
                </ul>
            </div>

        </div>

        <div class="BoxPub">

            <div class="User">
                <img  class="photo-user" src="../../assets/usuario.png" alt="">
                <h3>Sergio</h3>
            </div>
            <div class="main-pub">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore repellat quibusdam rem cum quis saepe quam animi! Esse quas provident exercitationem sed optio beatae unde molestiae voluptatem magni placeat.</p>
                <img src="" alt="">
            </div>
            <div class="botons">
                <img  class="Like" src="../../assets/me-gusta.png" alt="">    
            </div>




        </div>

    </section>

</div>