<div class="Body">
    <section class="Body-PerfilUser">
        <div>

            <div class="PerfilUser-CommonData">

                <img class="imgPerfil" src="../../assets/Perfilphoto.svg" alt="">

            </div>


            <div class="PerfilUser-totalinfo">
                <div class="content">

                    <button class="boton" (onclick)="follow()" id="seguir">Seguir</button>

                    <h1 class="title">Brandon Martinez</h1>

                    <p>Soy una persona apasionada, amante del deporte y la cultura. Me gusta realizar ejercios y yoga al
                        desnudo.</p>
                </div>
                <h1 class="title">Logros</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam unde nisi eveniet, incidunt
                    earum fuga quam, consequuntur veniam voluptate quisquam laudantium et cumque? Numquam, consequuntur
                    tempore. Sequi, nam illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rerum,
                    eveniet dicta obcaecati eaque aliquid voluptatum quis sunt totam ratione sed accusamus iste ipsum
                    perspiciatis, consequatur aspernatur odio harum? Ullam!</p>


                <div class="content_rutina">

                    <h1 class="title">Mis rutinas </h1>

                    <ul>
                        <h2>Mi entrenamiento de fuerza</h2>

                        <li>Día 1: Ejercicios para piernas y glúteos</li>
                        <li>Día 2: Ejercicios para espalda y bíceps</li>
                        <li>Día 3: Descanso</li>
                        <li>Día 4: Ejercicios para pecho y tríceps</li>
                        <li>Día 5: Ejercicios para hombros y abdominales</li>
                        <li>Día 6: Descanso</li>

                    </ul>

                    <ul>
                        <h2>Mi entrenamiento de cardio vascular </h2>

                        <li>Día 1: Carrera de 30 minutos</li>
                        <li>Día 2: Ciclismo de 45 minutos</li>
                        <li>Día 3: Descanso</li>
                        <li>Día 4: Natación de 30 minutos</li>
                        <li>Día 5: Caminata rápida de 45 minutos</li>
                        <li>Día 6: Descanso</li>

                    </ul>
                </div>

            </div>
        </div>
        <div routerLink="/post/{{Card._id}}" *ngFor="let Card of Cards">
            <div class="contain">
                <div *ngFor="let Card of Cards">
                    <div class="BoxPub">
                        <div class="User">
                            <img class="photo-user" src="../../assets/usuario.png" alt="">
                            <h3>{{Card.username}}</h3>
                        </div>
                        <div class="main-pub">
                            <p>{{Card.data[1].data}}</p>
                            <img src="http://localhost:3000/public/{{Card.data[0].data}}" alt="">
                        </div>
                        <div class="botons">
                            <img class="Like" src="../../assets/me-gusta.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>